body{
font-family:Arial;
margin:0;
background:#f5f5f5;
}

header{
background:#2196f3;
color:white;
text-align:center;
padding:15px;
}

nav a{
margin:10px;
color:white;
text-decoration:none;
}

.hero{
background:#ddd;
padding:80px;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
padding:20px;
}

.card{
background:white;
padding:15px;
border-radius:10px;
width:200px;
text-align:center;
}

.card img{
width:100%;
border-radius:10px;
}

.gallery img{
width:200px;
margin:10px;
border-radius:10px;
}
