```css
body{
font-family: Arial;
margin:0;
background:#f4f4f4;
text-align:center;
}

header{
background:#2c3e50;
color:white;
padding:20px;
}

.menu{
display:flex;
justify-content:center;
flex-wrap:wrap;
background:#34495e;
}

.icon{
color:white;
padding:15px;
cursor:pointer;
font-size:18px;
}

.icon:hover{
background:#2c3e50;
}

.place{
display:none;
padding:20px;
}

.place img{
width:80%;
max-width:500px;
border-radius:10px;
}
```
